<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744739170137-jg44q7kk6oou6cnsiscoadcag0q47e0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744739170137-jg44q7kk6oou6cnsiscoadcag0q47e0c</string>
	<key>API_KEY</key>
	<string>AIzaSyD0vmfi_vIB1umU12eO4cq7H6tLt0lcwbk</string>
	<key>GCM_SENDER_ID</key>
	<string>744739170137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itmorelia.Proyecto</string>
	<key>PROJECT_ID</key>
	<string>kitunso</string>
	<key>STORAGE_BUCKET</key>
	<string>kitunso.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744739170137:ios:ad5bf224847f8f44b5ce48</string>
</dict>
</plist>